html,body {
	overflow-x: hidden; 
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('fonts/UbuntuMedium.eot');
    src: url('fonts/UbuntuMedium.eot') format('embedded-opentype'),
         url('fonts/UbuntuMedium.woff2') format('woff2'),
         url('fonts/UbuntuMedium.woff') format('woff'),
         url('fonts/UbuntuMedium.ttf') format('truetype'),
         url('fonts/UbuntuMedium.svg#UbuntuMedium') format('svg');
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('fonts/UbuntuRegular.eot');
    src: url('fonts/UbuntuRegular.eot') format('embedded-opentype'),
         url('fonts/UbuntuRegular.woff2') format('woff2'),
         url('fonts/UbuntuRegular.woff') format('woff'),
         url('fonts/UbuntuRegular.ttf') format('truetype'),
         url('fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('fonts/UbuntuBold.eot');
    src: url('fonts/UbuntuBold.eot') format('embedded-opentype'),
         url('fonts/UbuntuBold.woff2') format('woff2'),
         url('fonts/UbuntuBold.woff') format('woff'),
         url('fonts/UbuntuBold.ttf') format('truetype'),
         url('fonts/UbuntuBold.svg#UbuntuBold') format('svg');
}

section#main {
	padding-top: 20px;
	height: 800px;
	background: url(../img/main-bg.jpg) no-repeat top center;
}
.phone h3 {
	color: #fff;
	font-family: 'UbuntuMedium';
}
.phone p {
	color: #fff;
	font-family: 'UbuntuBold';
}

.social img {
	width: 39px;
}
.social {
	padding-left: 35px;
	padding-top: 5px;
	margin-left: -55px;
}
.header h1 {
	color: #fff;
	font-family: 'UbuntuBold';
	text-transform: uppercase;
	margin-top: 3%;
}
.header-form h2 {
	color: #a60436;
	font-family: 'UbuntuMedium';
}
.main-form {
	background-color: rgba(255,255,255,0.47);
	padding-bottom: 30px;
	margin-top: 5%;
}
.main-form input{
	width: 80%;
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.main-btn {
	background-color: #a60436;
	bottom: none;
	border-bottom: 3px solid #4d0219;
	border-radius: 5px;
	padding: 12px 40px; 
	color: #fff;
	font-family: 'UbuntuRegular';
}
.main-btn:hover {
	background-color: #d20444;
	border-bottom: 1px solid #4d0219;
	margin-top: 2px;
}
section#eggs {
	padding-top: 3%;
}
.header-eggs h2 {
	color: #363636;
	font-size: 24px;
}
.icons img {
	width: 100px;
}
.icons {
	margin-top: 3%;
}

hr {
	border-color: #a60436;
    border-width: 3px;
}
/* =====  Prices  =====*/

.card img {
	padding: 3px;
	width: 100%;
}

section#price {
	padding-bottom: 3%;
}

.header {
	margin-bottom: 3%;
}
.card {
	border: 2px solid #a60436;
	margin-bottom: 5px;
	padding-bottom: 20px;
}

.order-btn {
	background-color: #a60436;
	bottom: none;
	border-bottom: 3px solid #4d0219;
	border-radius: 5px;
	padding: 12px 40px; 
	color: #fff;
	font-family: 'UbuntuRegular';
}

.order-btn:hover {
	background-color: #d20444;
	border-bottom: 1px solid #4d0219;
	margin-top: 2px;
}

.card h3 {
	font-family: 'UbuntuBold';
}

.card h4 {
	font-family: 'UbuntuMedium';
}
.card ul {
	padding-right: 50px;
}
.card li {
	font-family: 'UbuntuMedium';
}

/*=========== Modals ============ */
button.btn-send {
	background-color: #a60436;
}
.modal-body h5{
	font-family: 'UbuntuMedium';
}
/* ==========  Adaptive  ==========*/
@media(min-width:0) and (max-width:320px) {
	.logo {
		text-align: center;
	}
	img#logo {
		width: 70px;
	}
	.social img{
		width: 20px;
	}
	.logo-revizorro img {
		width:80px;
		text-align: center;
	}
	.phone {
		text-align: center;
	}
	h1 {
		font-size: 20px;
	}
	.header-form h2 {
		font-size: 18px;
	}
	.main-form input{
		margin-top: 5px;
	}
	.main-form button {
		margin-top: 9px;
	}
	.main-form button:hover {
		margin-top: 11px;
	}
	.main-form {
		margin-left: 4px;
		margin-right: 4px;
	}
	section#main {
		height: 600px;
	}
	.header-eggs h2 {
		font-size: 16px;
	}
	section#eggs h4 {
		font-size: 16px;
	}
	.header h2 {
		font-size: 18px;
		font-family: 'UbuntuMedium';
	}
	.card {
		margin-top: 5px;
	}

	@media(min-width:321px) and (max-width:480px) {
	.logo {
		text-align: center;
	}
	img#logo {
		width: 70px;
	}
	.social img{
		width: 20px;
	}
	.logo-revizorro img {
		width:80px;
		text-align: center;
	}
	.phone {
		text-align: center;
	}
	h1 {
		font-size: 20px;
	}
	.header-form h2 {
		font-size: 18px;
	}
	.main-form input{
		margin-top: 5px;
	}
	.main-form button {
		margin-top: 9px;
	}
	.main-form button:hover {
		margin-top: 11px;
	}
	.main-form {
		margin-left: 4px;
		margin-right: 4px;
	}
	section#main {
		height: 600px;
	}
	.header-eggs h2 {
		font-size: 16px;
	}
	section#eggs h4 {
		font-size: 16px;
	}
	.header h2 {
		font-size: 18px;
		font-family: 'UbuntuMedium';
	}
	.card {
		margin-top: 5px;	
	}
	@media(min-width:481px) and (max-width:768px) {
	.logo {
		text-align: center;
	}
	img#logo {
		width: 70px;
	}
	.social img{
		width: 20px;
	}
	.logo-revizorro img {
		width:80px;
		text-align: center;
	}
	.phone {
		text-align: center;
	}
	h1 {
		font-size: 20px;
	}
	.header-form h2 {
		font-size: 18px;
	}
	.main-form input{
		margin-top: 5px;
	}
	.main-form button {
		margin-top: 9px;
	}
	.main-form button:hover {
		margin-top: 11px;
	}
	.main-form {
		margin-left: 4px;
		margin-right: 4px;
	}
	section#main {
		height: 600px;
	}
	.header-eggs h2 {
		font-size: 16px;
	}
	section#eggs h4 {
		font-size: 16px;
	}
	.header h2 {
		font-size: 18px;
		font-family: 'UbuntuMedium';
	}
	.card {
		margin-top: 5px;
	}
}